<li class="list__item" data-building-id=<%= building.id %>>
  <div class="list__item_name">name: <span><%= building.name %></span></div>
  <div class="list__item_address">address: <span><%= building.address %></span></div>
  <div class="list__item_lat">latitude: <span><%= building.latitude %></span></div>
  <div class="list__item_lng">longitude: <span><%= building.longitude %></span></div>
</li>
