<h1>Addresses#index</h1>

<p>
  <%= link_to '作成ページへ', new_building_path %>
</p>
<div class="container">
  <div class="list content1">
    <ol>
      <% @buildings.each do |building| %>
        <li>
          <div><%= "address: #{building.address}" %></div>
          <div><%= "latitude: #{building.latitude}" %></div>
          <div><%= "longitude: #{building.longitude}" %></div>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="map content2">
    <div id="map"></div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>

